<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831932788025-7oitj4lc3ec4lg7iu99erk608mouus95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831932788025-7oitj4lc3ec4lg7iu99erk608mouus95</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831932788025-b8b41a416hln27cuqip9fv8avb5j1lh5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvuvBv5hIXakB3mXgy0UdbUAzjKX3RGK8</string>
	<key>GCM_SENDER_ID</key>
	<string>831932788025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.casio.hamura.carpool</string>
	<key>PROJECT_ID</key>
	<string>fluttercarpool-8fa66</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercarpool-8fa66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831932788025:ios:5032a7a55b0c98e1728ce8</string>
</dict>
</plist>